<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TCS2010NX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/site1.css" rel="stylesheet" />
    
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body class="bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="subtext-image">
                    <img src="~/images/Dai hoc Greenwich.png" style="width:200px; padding-top:10%; padding-right:30%;" />
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("student"))
                        {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="topic" asp-action="Index" style="margin-right:50px;">Topic</a>
                    </li>
}
                        @if (User.IsInRole("Coordinator"))
                        {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Staff" asp-controller="Topic" asp-action="Index" style="margin-right:50px;">Topic</a>
                    </li>
}
                        @if (User.IsInRole("Admin"))
                        {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Staff" asp-controller="User" asp-action="Index" style="margin-right:50px;">User</a>
                    </li>
}
                        @if (User.IsInRole("Admin"))
                        {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Staff" asp-controller="Department" asp-action="Index" style="margin-right:50px;" ;>Department</a>
                    </li>
}

                        @if (User.IsInRole("Admin"))
                        {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Staff" asp-controller="Role" asp-action="Index" style="margin-right:50px" ;>Roles</a>
                    </li>}
                        @if (User.IsInRole("Manager"))
                        {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Staff" asp-controller="Topic" asp-action="Index" style="margin-right:50px;" ;>TOPIC</a>
                    </li>
}
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        
        <div class="container">
            <div style="display: flex; justify-content: space-around">
                <div>
                    <h3>THÀNH PHỐ HỒ CHÍ MINH</h3>
                    <h5> ĐẠI HỌC GREENWICH (VIỆT NAM)</h5>
                    <h5> CS1: Số 142-146 Phạm Phú Thứ - Phường 4 - Quận 6 (Cuối đường 3 /2)</h5>
                    <h5> CS2: 205 Nguyễn Xí, Phường 26, Bình Thạnh.</h5>

                </div>
                <div>
                    <h3> HÀ NỘI</h3>
                    <h5>ĐẠI HỌC GREENWICH (VIỆT NAM)</h5>
                    <h5>Tòa nhà DETECH -Số 8 Tôn Thất Thuyết-P.Mỹ Đình 2-Q.Nam Từ Liêm</h5>
                </div>
            </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
