.user{
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    padding-right:20px;
    padding-top:10px;
    padding-left:10px;
}
.cr {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.edit {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.delete {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 200px;
    padding-left: 10px;
}

.Dt {
    margin-left: 238px;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    padding-left: 10px;
    margin-right: 290px;
    padding-bottom: 10px;
    padding-right:15px;
}
.Depart {
    margin-left: 190px;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 65px;
    padding-top: 10px;
    margin-right: 300px;
    padding-left: 15px;
}
h1{
    text-align:center;
}
p {
    text-align: center;
}

