.edit {
    padding-top: 10px;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: -18px;
}
.role {
    padding-top: 11px;
    margin-right: -20px;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
}
.delete {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 11px;
}
.Dt {
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    margin-top: 40px;
}