@{ ViewData["Title"] = "Home Page"; }


<body>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">

    <link href="~/indexhome.css" rel="stylesheet" />
    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-homeimage">
                            <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                                "Wisdom is not a product from school, but a lifelong learning process"
                            </div>
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s" style="padding-bottom:300px;">
                                "Your time is limited, so don't waste it living someone else's life"
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="item content">
        <div class="container toparea">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="col editContent">
                        <span class="numberstep"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                        <h3 class="numbertext">IT</h3>
                        <p>
                            "We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins." - Ellen Ullman
                        </p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-user"></i></span>
                        <h3 class="numbertext">BUSINESS</h3>
                        <p>
                            “You can't just ask the client what they want and then try to give it to them. By the time you finished it, they wanted something new. ” - Steve Jobs
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                        <h3 class="numbertext">GRAPHIC DESIGN</h3>
                        <p>
                            "Design is a funny word. Some people think design is what it looks like. But of course, if you go deeper it means how it actually works."- Steve Jobs
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LATEST ITEMS =============================-->
    <section class="item content">
        <div class="container">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">Course categories</h1>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                          <h1>TEXT</h1></a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>0447-B1SU18</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>447-19.10</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>Application Development</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>Programing</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>SU19P2 1619</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>FA19P2 1623</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"><img src="images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>20SPRP2 1649</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct"> <img src="~/images/homeexam.jpg" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="">
                                <h1>Business</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- TESTIMONIAL =============================-->

    <script src="js/jquery-.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>

</body>
